 <!-- Skill Badges Grid (Using Responsive Row-Cols: 2 on mobile, 4 on tablet, 6 on desktop) -->
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3 text-center">

            <!-- Frontend Technologies & Frameworks -->
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-html5 text-danger fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">HTML5</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-css3 text-primary fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">CSS3</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-sass text-danger fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">SCSS</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-tailwind-css text-info fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Tailwind CSS</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-bootstrap text-primary fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Bootstrap 5</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxs-file-css text-success fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Bulma CSS</h6>
                </div>
            </div>

            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-javascript text-warning fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">JavaScript</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-typescript text-primary fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">TypeScript</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bx-code-alt text-info fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Alpine.js</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-react text-info fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">React.js</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxs-file-js text-dark fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Next.js</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-vuejs text-success fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Vue.js</h6>
                </div>
            </div>

            <!-- Backend & Web Apps -->
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-php text-primary fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">PHP</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bi bi-layers-fill text-danger fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Laravel</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-nodejs text-success fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Node.js</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bi bi-server text-secondary fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Express.js</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-python text-warning fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Python</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bi bi-phone text-warning fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">PWA</h6>
                </div>
            </div>

            <!-- Databases, DevOps & Cloud -->
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bi bi-database text-info fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">MySQL</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-postgresql text-primary fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">PostgreSQL</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-mongodb text-success fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">MongoDB</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bi bi-database-fill-gear text-danger fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Redis</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-git text-danger fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Git</h6>
                </div>
            </div>
            <div class="col">
                <div class="p-3 bg-light rounded-4 border hvr-bob h-100 w-100">
                    <i class="bx bxl-docker text-primary fs-1"></i>
                    <h6 class="fw-bold mt-2 mb-0">Docker</h6>
                </div>
            </div>

        </div>